.jumbotron{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/mack.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}
#hd1, i{
    text-align: center;
    color: whitesmoke; 
    /* opacity: 0.7; */
    font-size: 60px;
    font-family: 'Patrick Hand', cursive;
}
h2{
    text-align: center;
    color: goldenrod;
    /* opacity: 0.7; */
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
}
#img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: -100px;
    background-color: rgba(0, 0, 0, 0.6);
}
#about{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: goldenrod;
    /* opacity: 0.7; */
}
#aboutme{
    text-align: center;
    font-family: 'Yrsa', serif;
    font-size: 20px;
    color: #2E4053 ;
}
h3{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    
}

/* footer styles  */
.footer{
    color:black;
    text-align: center;
    background: goldenrod; 
    opacity: 0.7;
    
  
   
    
}
#symbol{
    color: black;
    /* font-size: 30px; */
    
}
.fa {
    padding: 15px;
    font-size: 10px;
    /* width: 20px; */
    text-decoration: none;
    
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook,  .fa-twitter, .fa-youtube,  .fa-instagram{
    color: whitesmoke;
    background-color: black;
    border-radius: 60%;
    /* text-align: center; */
  }
  .footer p{
      font-size: 20px;
  }
  
#copy{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}  

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    /* border-radius: 10px; */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* img {
    border-radius: 5px 5px 0 0;
  }   */

  nav{
    /* height: 70px; */
    background-color:rgb(48, 47, 47);
    text-align: center;
    position: fixed;
    top:5px;
    width:100%;
    z-index: 1;
    
} 
#nav1{
    font-family: 'Patrick Hand', cursive;
    color: goldenrod; 
    opacity: 0.7;
    font-size: 25px;
}
h5
{
    font-family: 'Patrick Hand', cursive;
    color: goldenrod; 
       
}
