.jumbotron{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/mack.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}
#hd1{
    text-align: center;
    color:#FDFEFE;
    font-size: 100px;
    font-family: 'Patrick Hand', cursive;
}
h2{
    text-align: center;
    color: goldenrod;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
}
#img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: -100px;
    background-color: rgba(0, 0, 0, 0.6);
}
#about{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: goldenrod;
}
#aboutme{
    text-align: center;
    font-family: 'Yrsa', serif;
    font-size: 20px;
    color: #2E4053 ;
}
h3{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    
}

/* footer styles  */
.footer{
    color:black;
    text-align: center;
   
    
}
#symbol{
    color: black;
    /* font-size: 30px; */
    
}
.fa {
    padding: 15px;
    font-size: 10px;
    /* width: 20px; */
    text-decoration: none;
    
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook,  .fa-twitter, .fa-youtube,  .fa-instagram{
    color: black;
    background-color: gray;
    border-radius: 50%;
    /* text-align: center; */
  }
  .footer p{
      font-size: 20px;
  }
  
#copy{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}  