.jumbotron{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/jumb.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 450px;
}
#hd1{
    text-align: center;
    color:#212121 ;
    font-size: 50px;
    font-family: 'Rye', cursive;
}
img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: -100px;
    background-color: rgba(0, 0, 0, 0.6);
}
#about{
    text-align: center;
    font-family: 'Monoton', cursive;
}
#aboutme{
    text-align: center;
    font-family: 'Yrsa', serif;
    font-size: 20px;
    color: #2E4053 ;
}